body {
    background-color: black;
    margin: 0;
}

.sideBar {
    width: 10%;
    background: linear-gradient(red, orange, yellow, green, blue, indigo);
    box-sizing: border-box; 
}

#subBodyContainer {
    width: 100%;
    display: flex;
}

#bodyContainer {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: crimson;
    width: 100%;
    height: 100%;
}

#headContainer {
    width: 100%;
    background-image: url("src/background.jfif");
    background-size: cover;
    background-position-x: 0px;
    background-position-y: bottom;
}

#subHeadContainer {
    display: flex;
}

#personalProfile {
    width: 33.3vw;
    height: 20vh;
    margin-left: 66vw;
}

#personalProfile > * {
    background-color: aqua;
    text-align: right;
    opacity: 66%;
    margin: 0px;
    padding: 5px 20px;
}

.navBar {
    background-color: blue;
    width: 100%;
    height: 100%;
    display: flex;
}

.navBar > a {
    color: white;
    margin: 0px;
    border: 1px solid black;
    text-align: center;
    width: 25%;
}

.navBar > a:hover {
    color: black;
    background-color: aqua;
    text-decoration: underline;
}

#contentContainer {
    background-color: blueviolet;
    height: 1400px;
    width: 100%;
}

#footerContainer {
    background-color: orange;
}

.footerLinks {
    color: black;
}

.footerLinks:hover {
    color: blue;
}

.footerLinks:visited {
    color: purple;
}