body {
    margin: 0;
}

.sideBar {
    width: 10vw;
    background: linear-gradient(red, orange, yellow, green, blue, indigo);
    box-sizing: border-box; 
}

#subBodyContainer {
    width: 100vw;
    display: flex;
    margin: 0px;
}

#bodyContainer {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#headContainer {
    width: 100vw;
    background-image: url("src/background.jfif");
    background-position-y: bottom;
    background-size: cover;
    height: 22vh;
}

#subHeadContainer {
    height: 18vh;
    width: 100%;
}

#personalProfile {
    height: fit-content;
    background-color: aqua;
    opacity: 66%;
    border-radius: 0% 0% 0% 30%;
    float: right;
}

#personalProfile > * {
    text-align: right;
    margin: 0px;
    padding: 5px 25px;
    text-shadow: 1px 1px white;
}

.navBar {
    background-color: blue;
    width: 100%;
    height: 5vh;
    min-height: 12px;
    display: flex;
    line-height: 4vh;
    font-size: auto;
}

.navBar > a {
    color: white;
    margin: 0px;
    border: 1px solid black;
    text-align: center;
    width: 25%;
    min-width: auto;
}

.navBar > a:hover {
    color: black;
    background-color: aqua;
    text-decoration: underline;
}

#contentContainer {
    background-color: blueviolet;
    height: auto;
    width: 100%;
    padding: 0px 10px;
    text-align: center;
    min-height: 73vh;
}

#footerContainer {
    background-color: black;
    color: white;
    height: 5vh;
    line-height: 5vh;
    width: 100%;
}

#footerContainer > p {
    margin: 0;
    height: 5vh;
    text-align: center;
}

.footerLinks {
    color: blue;
}

.footerLinks:hover, .footerLinks:visited {
    color: purple;
}