<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
</head>

<body>
  <div class="container">
    <nav>
      <div class="logo">
        <strong><a href="{{ get_url(path="@/_index.md") }}" style="text-decoration: none;">{{ config.title
            }}</a></strong>
      </div>
      <!-- <ul>
        <li><a href="{{ get_url(path="@/research/_index.md") }}">Research</a></li>
        <li><a href="{{ get_url(path="@/notes/_index.md") }}">Notes</a></li>
        <li><a href="{{ get_url(path="cv.pdf") }}">CV</a></li>
      </ul> -->
    </nav>

    <main>
      {% block content %}{% endblock content %}
    </main>

    <footer style="margin-top: 4rem; font-size: 0.8em; color: #666; border-top: 1px solid #ccc; padding-top: 1rem;">
      <p>&copy; {{ now() | date(format="%Y") }} {{ config.extra.email }} | Built with <a
          href="https://www.getzola.org/">Zola</a></p>
    </footer>
  </div>
</body>

</html>